[submodule "Libraries/HOPEful/dependencies/glfw"]
	path = Libraries/HOPEful/dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Libraries/HOPEful/dependencies/assimp"]
	path = Libraries/HOPEful/dependencies/assimp
	url = https://github.com/assimp/assimp.git
