#menubar {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ccc;
}

#menubar ul {
  list-style-type: none;
  max-width: 60rem;
  margin: 0 auto;
  padding: 0;
}

#menubar li {
  float: left;
}

#menubar li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#menubar li a:hover {
  color: #fff;
  background-color: #999;
}

#menubar li a.current {
  color: #fff;
  background-color: #00a4fd;
}